%header
  %h4 报名
  .header-left
    %a(ng-tap="$navigate.go('/bids/list/{{activity_name}}')"  class="btn")
      返回

  .header-right
    %a( ng-tap="$navigate.go('/bids/result/{{activity_name}}/{{bid_name}}')"  class="btn btn-primary")
      结果列表


#wrapper.scrollable
  %ul.survey-list
    %li(ng-repeat="num_of_price_item in num_of_price_items()" )
      %a
        %h3 {{num_of_price_item}}
        %p

%footer
  %ul(class="footer-nav footer-nav-2tabs" )
    %li
      %a(ng-tap="$navigate.go('/sign_ups/list/{{activity_name}}')")
        %h5 报名
    %li
      %a.active(ng-tap ="$navigate.go('/bids/list/{{activity_name}}')")
        %h5 竞价
